.contacts {
    background-color: $red;
    position: relative;
    padding: 52px 0 86px 104px;
    @extend %df;
    @extend %jcsb;
    flex-direction: column;
    // .contacts__title

    &__title {
        position: absolute;
        width: 100vh;
        bottom: 380px;
        right: -38px;
        transform: rotate(-90deg);
        @extend %demi_cond_92_60_2;
        @extend %ttu;
        color: $white;
    }

    // .contacts__list 
    &__list {
        padding-right: 20px;
    }

    // .contacts__list-item

    &__list-item {
        @extend %df;
        margin-bottom: 14px;
        &:last-child {
            margin-bottom: 0;
        }
        span, a {
            @extend %reg_14_16_2;
            color: $white;
        }
        i {
            display: inline-block;
            margin-right: 7px;
        }
        &_title {
            @extend %medium_18_20_2;
            color: $white;
            margin-bottom: 24px;
        }
    }
}
