
.service {
    padding-top: 253px;
    // .service__title

    &__title {
        @extend %demi_cond_70_75_2;
        @extend %ttu;
        color: $blue_15;
        margin-left: 5px;
    }

    // .service__wrap

    &__wrap {
        margin-top: 23px;
        margin-left: 14px;
        @extend %dg;
        grid-template-columns: 368px 368px;
        grid-column-gap: 28px;
    }

    // .service__item

    &__item {
        @extend %reg_14_16_2;
        position: relative;
        margin-bottom: 16px;
        &:after {
            position: absolute;
            content: '';
            display: block;
            width: 4px;
            height: 4px;
            background-color: $blue_15;
            left: -14px;
            top: 6px;
        }
        &.last {
            margin-top: 32px;
            &::after {
                height: calc(100% - 10px);
            }
            p {
                &:first-child {
                    margin-bottom: 16px;
                }
            }
        }
    }
}
