body {
    font-size: 16px;
    overflow: hidden;
}
img {
    display: inline-block;
    width: inherit;
    height: inherit;
}
a {
    &:hover {
        // color: $color_link_hover;
    }
}
.container {
    margin: 0 auto;
}
.main-wrap {
    .container {
        @extend %dg;
        height: 100vh;
    }
}
@include bp(320px, min) {
    .container {
        max-width: 100%;
    }
}
@include bp(768px, min) {
    .container {
        max-width: 729px;
    }
}
@include bp(320px, min) {
    .main-wrap {
        .container {
            display: flex;
            flex-direction: column;
            // grid-template-columns: auto auto;
            // grid-column-gap: 16px;
        }
    }
}
@include bp(768px, min) {
    .main-wrap {
        .container {
            display: grid;
            grid-template-columns: width(354, 729) auto;
            // grid-column-gap: 16px;
        }
    }
}
@include bp(1100px, min) {
    .main-wrap {
        .container {
            grid-template-columns: width(820, 1216) auto;
            
        }
    }
}
@include bp(1100px, min) {
    .container {
        max-width: 1100px;
    }
}
@include bp(1250px, min) {
    .container {
        max-width: 1216px;
    }
}
@include bp(1250px, min) {
    .main-wrap {
        .container {
            grid-template-columns: width(832, 1216) auto;
        }
    }
}




