// ================ FranklinGothic-Book ================

    @include fontClass(FranklinGothic-Book, fg-book);
    
// ################ FranklinGothic-Book ################

// ================ FranklinGothic-DemiCond ================

    @include fontClass(FranklinGothic-DemiCond, fg-demi-cond);

// ################ FranklinGothic-DemiCond ################

// ================ FranklinGothic-Medium ================

    @include fontClass(FranklinGothic-Medium, fg-medium);

// ################ FranklinGothic-Medium ################

// ================ FranklinGothic-MediumCond ================

    @include fontClass(FranklinGothic-MediumCond, fg-medium-cond);

// ################ FranklinGothic-MediumCond ################


// ====================== Font sizes ======================
%fz-14 {
    font-size: .875rem;
}

%fz-18 {
    font-size: 1.125rem;
}

%fz-70 {
    font-size: 4.375rem;
}

%fz-45 {
    font-size: 2.8125rem;
}

%fz-60 {
    font-size: 3.75rem;
}

%fz-92 {
    font-size: 5.75rem;
}
// ###################### Font sizes ######################

// ====================== Line Height ======================
%lh-20 {
    line-height: 1.25rem;
}

%lh-16 {
    line-height: 1rem;
}

%lh-75 {
    line-height: 4.6875rem;
}

%lh-60 {
    line-height: rem(60);
}

%lh-85 {
    line-height: 5.3125rem;
}
// ###################### Line Height ######################
%ls-2 {
    letter-spacing: .02em
}

// ====================== Text Styling ======================
%reg_14_20_2 {
    @extend %fg-book;
    @extend %fz-14;
    @extend %lh-20;
    @extend %ls-2;
}
%reg_14_16_2 {
    @extend %fg-book;
    @extend %fz-14;
    @extend %lh-16;
    @extend %ls-2;
}
%medium_18_20_2 {
    @extend %fg-medium;
    @extend %fz-18;
    @extend %lh-20;
    @extend %ls-2;
}
%medium_cond_18_20_2 {
    @extend %fg-medium-cond;
    @extend %fz-18;
    @extend %lh-20;
    @extend %ls-2;
}
%demi_cond_70_75_2 {
    @extend %fg-demi-cond;
    @extend %fz-70;
    @extend %lh-75;
    @extend %ls-2;
}
%demi_cond_45_85_2 {
    @extend %fg-demi-cond;
    @extend %fz-45;
    @extend %lh-85;
    @extend %ls-2;
}
%demi_cond_60_85_2 {
    @extend %fg-demi-cond;
    @extend %fz-60;
    @extend %lh-85;
    @extend %ls-2;
}
%demi_cond_92_60_2 {
    @extend %fg-demi-cond;
    @extend %fz-92;
    @extend %lh-20;
}
// ###################### Text Styling ######################
%ttu {
    text-transform: uppercase;
}