.navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 52px;
    .container {
        @extend %df;
        // @extend %aic;
        // @extend %jcsb;
    }
}

.logo-lang {

    // .logo-lang__logo

    &__logo {}

    // .logo-lang__logo-link

    &__logo-link {}

    // .logo-lang__img

    &__img {}

    // .logo-lang__langs

    &__langs {
        @extend %df;
        @extend %aic;
        margin-top: 25px;
        margin-left: 2px;
    }

    // .logo-lang__lang-item

    &__lang-item {
        margin-right: 18px;
        &:last-child {
            margin-right: 0;
        }
    }

    // .logo-lang__link

    &__link {
        @extend %reg_14_20_2;
        @extend %ttu;
        color: $blue_15;
        &.active {
            color: $blue;
        }
    }
}
.nav-about {
    max-width: 345px;
    border-left: 2px solid $blue;
    margin-left: 137px;
    margin-top: 5px;
    padding-left: 11px;
    // .nav-about__title

    &__title {
        @extend %medium_18_20_2;
        margin-bottom: 23px;
        color: $blue;
    }

    // .nav-about__text

    &__text {
        @extend %reg_14_16_2;
    }
}

.nav-dow {
    margin-left: auto;
    padding-top: 6px;
    // .nav-dow__btn

    &__btn {
        display: block;
        position: relative;
        @extend %medium_cond_18_20_2;
        @extend %ttu;
        color: $blue;
        background-color: $white;
        width: 280px;
        height: 62px;
        padding: 21px 0 0 31px;
        transition: all .3s ease;
        i {
            position: relative;
            z-index: 2;
            display: inline-block;
            margin-right: 3px;
            svg {
                path {
                    transition: all .3s ease;
                }
            }
        }
        span {
            position: relative;
            z-index: 2;
            // transition: all .3s ease;
        }
        &:after {
            position: absolute;
            content: '';
            display: block;
            width: 0;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $red;
            transition: all .5s ease;
            z-index: 1;
        }
        &:hover {
            &:after {
                width: 100%;
            }
            i {
                svg {
                    path {
                        fill: $white;
                    }
                }
            }
            color: $white;
        }
    }
}