@include bp(1400px, max) {
    .service {
        padding-top: 200px;
    }

    .contacts {
        padding-top: 20px;

        &__title {
            font-size: rem(80);
            bottom: 320px;
            right: 27px;
            // font-size: rem();
        }
    }

    .navigation {
        padding-top: 20px;
    }
}
@include bp(1250px, max) {
    body {
        overflow: visible;
        height: auto;
    }
    .contacts {
        &__title {
            bottom: 387px;
            right: -48px;
            font-size: rem(95);
            width: 120vh;
        }
    }
    .service {
        &__wrap {
            display: block;
            padding-right: 360px;
        }
        padding-bottom: 34px;
    }
}
@include bp(1100px, max) {
    .main-wrap  {
        position: relative;
        padding-top: 165px;
        .container {
            height: auto;
        }
    }
    .navigation {
        position: relative;
        padding-top: 52px;
    }
    .service {
        padding-top: 0;
        padding-right: 16px;
        &__title {
            position: absolute;
            top: 70px;
            // font-size: rem(57);
        }
        &__wrap {
            padding-right: 0;
        }
    }
    .contacts {
        padding-bottom: 391px;
        &__title {
            bottom: 370px;
            right: -32px;
            width: 770px;
        }
    }
}
@include bp(767px, max) {
    .main-wrap {
        position: relative;
        padding-top: 0;
        margin-top: 65px;
        .container {
        }
    }
    .navigation {
        .container {
            display: block;
            
        }
    }
    .container {
        margin: 0 15px;
    }
    .nav-about {
        margin-left: 0;
    }
    .contacts {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        order: -1;
        padding: 84px 0 113px 60px;
        &__title {
            font-size: rem(55);
            bottom: 237px;
            width: 500px;
        }
        &__list {
            margin-left: 81px;
            margin-top: 80px;
        }
    }
    .service {
        margin-top: 535px;
        &__title {
            position: relative;
            top: auto;
            font-size: rem(38);
        }
    }
    .logo-lang {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 36px;
        &__logo-link {
            display: block;
        }
        &__img {
            width: 160px;
            height: 51px;
        }
        &__langs {
            margin: 0;
        }
    }
}
@include bp(500px, max) {
    .contacts {
        &__title {
            right: 143px;
        }
    }
}
@include bp(400px, max) {
    .contacts {
        &__title {
            right: 107px;
        }
        &__list {
            margin-left: 35px;
        }
    }
}
@include bp(361px, max) {
    .contacts {
        &__title {
            right: 52px;
        }
        &__list {
            margin-left: 0;
        }
    }
}