//---------------------------------------------fonts
$font_path: "../fonts/";
$font_base: sans-serif;
$font_size_base: 16px;
//---------------------------------------------fonts###

//---------------------------------------------Imagws path
$img_dir: '../img/';
//---------------------------------------------Imagws path###

//---------------------------------------------colors
$white: #fff;
$black: #000;
$blue: #011042;
$blue_15: rgba(1, 16, 66, 0.15);
$red: #F92D3D;


$body_bg: $white;
$scroll_bar_color: $white;
$scroll_thumb_color: $black;
//---------------------------------------------colors###