//= mainHtml/head.html
<body>
    //= templateRU/navigation-Ru.html
    
    <main class="main-wrap">
        <div class="container">
            //= templateRU/service-Ru.html

            //= templateRU/contact-Ru.html
        </div>
    </main>
    <!-- /.main-wrap -->
</body>
</html>