//= mainHtml/head.html

<body>
    //= templateUK/navigation-Uk.html

    <main class="main-wrap">
        <div class="container">
            //= templateUK/service-Uk.html

            //= templateUK/contact-Uk.html
        </div>
    </main>
    <!-- /.main-wrap -->

</body>
</html>