<nav class="navigation">
    <div class="container">
        <div class="logo-lang">
            <div class="logo-lang__logo">
                <a href="index.html" class="logo-lang__logo-link">
                    <svg class="logo-lang__img" width="259" height="85" viewBox="0 0 259 85" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M53.1634 0L37.1404 16.0612L39.9795 23.9366L40.2906 23.6262C40.3295 23.5874 45.1908 18.6992 45.2686 18.6604L53.2022 10.7074L66.5028 23.8978L69.3029 15.9836L53.1634 0Z"
                            fill="#F92D3D" />
                        <path
                            d="M79.8812 21.0269L57.1691 20.8329L53.5134 28.3592H53.9801C54.0579 28.3592 60.9415 28.398 61.0193 28.4368L72.2587 28.5532L72.1031 47.2524L79.7257 43.722L79.8812 21.0269Z"
                            fill="#F92D3D" />
                        <path
                            d="M85.5593 53.9252L70.1975 37.2045L62.186 39.6486L62.4971 39.9977C62.536 40.0365 67.2029 45.1187 67.2418 45.1575L74.8644 53.4208L61.0582 66.068L68.8363 69.2104L85.5593 53.9252Z"
                            fill="#F92D3D" />
                        <path
                            d="M64.9861 80.2282L64.9084 57.5719L57.3247 54.0027V54.4683C57.3247 54.5459 57.3636 61.4126 57.3636 61.4902L57.4025 72.702L38.6572 72.7408L42.274 80.3058L64.9861 80.2282Z"
                            fill="#F92D3D" />
                        <path
                            d="M31.4236 85L47.6409 69.1328L44.9186 61.2187L44.5686 61.529C44.5297 61.5678 39.5906 66.4172 39.5517 66.456L31.5014 74.3314L18.3564 60.9471L15.4785 68.8225L31.4236 85Z"
                            fill="#F92D3D" />
                        <path
                            d="M5.21131 65.2921L27.9234 65.0593L31.4624 57.4555H30.9958C30.918 57.4555 24.0343 57.5331 23.9566 57.5331L12.7172 57.6495L12.5227 38.9503L4.97797 42.6358L5.21131 65.2921Z"
                            fill="#F92D3D" />
                        <path
                            d="M0 33.4802L16.8007 48.7266L24.5788 45.5454L24.2288 45.2351C24.1899 45.1963 19.0564 40.5409 19.0175 40.5021L10.6949 32.937L23.2955 19.0872L15.2451 16.6819L0 33.4802Z"
                            fill="#F92D3D" />
                        <path
                            d="M19.873 5.78046V28.4368L27.4567 32.0447V31.5792C27.4567 31.5016 27.4567 24.6349 27.4567 24.5573V13.3455H46.202L42.5851 5.78046H19.873Z"
                            fill="#F92D3D" />
                        <path d="M46.7076 13.4619H41.3407L44.0241 8.80646L46.7076 13.4619Z" fill="white" />
                        <path d="M66.8529 24.2469L63.0416 20.4838L68.2141 19.0483L66.8529 24.2469Z" fill="white" />
                        <path d="M72.2976 47.2524L72.5698 41.8987L77.0811 44.8083L72.2976 47.2524Z" fill="white" />
                        <path d="M60.7859 65.874L65.1028 62.6928L65.7251 68.0077L60.7859 65.874Z" fill="white" />
                        <path d="M38.1128 72.9735H43.4797L40.7962 77.6289L38.1128 72.9735Z" fill="white" />
                        <path d="M18.0841 60.7143L21.7398 64.6326L16.4896 65.8352L18.0841 60.7143Z" fill="white" />
                        <path d="M12.5228 38.7951L12.2894 44.1488L7.73923 41.278L12.5228 38.7951Z" fill="white" />
                        <path d="M23.5677 18.9708L19.8342 22.8115L18.3564 17.6517L23.5677 18.9708Z" fill="white" />
                        <path
                            d="M122.383 38.1743V25.178L122.227 25.1392L120.322 30.1049L118.844 33.6741H114.722L113.166 29.8722L111.299 25.1004L111.144 25.1392V38.1743H105.427V10.591H110.716L113.944 18.2724L116.705 25.178H116.899L119.544 18.2336L122.733 10.591H128.139V38.1743H122.383Z"
                            fill="#011042" />
                        <path
                            d="M144.512 32.549H137.939C137.706 33.4801 137.473 34.4112 137.2 35.3811C136.967 36.351 136.695 37.282 136.423 38.2131H130.356L138.328 10.6298H144.045L152.018 38.2131H145.834L144.512 32.549ZM140 23.471L139.223 27.4281H143.19L142.451 23.5098L141.323 18.0009H141.128L140 23.471Z"
                            fill="#011042" />
                        <path
                            d="M166.602 38.1743L162.907 27.2729H160.457V38.1743H154.701V10.591H163.879C165.046 10.591 166.174 10.7462 167.224 11.0565C168.274 11.3669 169.207 11.8712 169.985 12.5308C170.763 13.1903 171.385 14.0438 171.852 15.0524C172.319 16.0611 172.513 17.3026 172.513 18.738C172.513 20.5225 172.163 22.0356 171.463 23.3158C170.763 24.596 169.752 25.5659 168.429 26.303L172.902 38.2519H166.602V38.1743ZM166.913 18.738C166.913 17.6905 166.602 16.9146 166.018 16.4879C165.435 16.0223 164.657 15.8283 163.724 15.8283H160.457V22.0356H163.568C164.502 22.0356 165.279 21.8028 165.94 21.2984C166.602 20.7941 166.913 19.9406 166.913 18.738Z"
                            fill="#011042" />
                        <path
                            d="M194.097 29.9886C194.097 32.6266 193.281 34.6828 191.647 36.157C190.014 37.6312 187.719 38.3683 184.725 38.3683C183.558 38.3683 182.508 38.2519 181.575 38.0192C180.641 37.7864 179.786 37.476 179.047 37.0493C178.308 36.6225 177.608 36.157 176.985 35.5751C176.363 34.9931 175.819 34.3724 175.352 33.6741L179.863 30.0274C180.563 31.036 181.341 31.7731 182.119 32.2387C182.897 32.7042 183.791 32.937 184.802 32.937C186.008 32.937 186.864 32.6654 187.33 32.1611C187.797 31.618 188.03 30.9972 188.03 30.2213C188.03 29.6782 187.914 29.2515 187.641 28.8635C187.408 28.4756 187.058 28.1264 186.591 27.8548C186.164 27.5833 185.658 27.3117 185.075 27.1177C184.491 26.9238 183.869 26.691 183.169 26.5358C181.886 26.1479 180.797 25.6823 179.902 25.178C179.008 24.6736 178.269 24.0917 177.685 23.471C177.102 22.8503 176.713 22.1132 176.441 21.2985C176.169 20.4838 176.052 19.5527 176.052 18.5052C176.052 17.3026 176.246 16.2163 176.674 15.2464C177.102 14.2378 177.685 13.3843 178.463 12.686C179.241 11.9489 180.136 11.4057 181.224 11.0178C182.313 10.6298 183.48 10.4359 184.764 10.4359C186.864 10.4359 188.575 10.7462 189.897 11.4057C191.219 12.0652 192.386 12.9963 193.281 14.2766L189.158 18.1561C187.836 16.6043 186.358 15.8284 184.764 15.8284C183.908 15.8284 183.208 16.0611 182.663 16.4879C182.119 16.9534 181.847 17.5353 181.847 18.2725C181.847 18.6604 181.963 19.0096 182.236 19.3587C182.508 19.6691 182.858 19.9794 183.325 20.2122C183.791 20.4838 184.297 20.7165 184.919 20.9493C185.541 21.1821 186.164 21.4149 186.864 21.6088C188.225 22.0356 189.392 22.5011 190.325 23.0443C191.258 23.5874 191.997 24.2081 192.542 24.9064C193.086 25.6047 193.475 26.3806 193.708 27.2341C193.981 28.0488 194.097 28.9799 194.097 29.9886Z"
                            fill="#011042" />
                        <path
                            d="M209.537 38.1743V26.8461H203.275V38.1743H197.52V10.591H203.275V21.6088H209.537V10.591H215.254V38.1743H209.537Z"
                            fill="#011042" />
                        <path
                            d="M231.938 32.549H225.365C225.132 33.4801 224.899 34.4112 224.626 35.3811C224.393 36.351 224.121 37.282 223.849 38.2131H217.782L225.754 10.6298H231.471L239.444 38.2131H233.26L231.938 32.549ZM227.427 23.471L226.649 27.4281H230.616L229.877 23.5098L228.749 18.0009H228.554L227.427 23.471Z"
                            fill="#011042" />
                        <path d="M242.127 38.1743V10.591H247.922V32.743H258.267V38.1743H242.127Z" fill="#011042" />
                        <path
                            d="M117.211 75.9607H111.494L103.988 48.3774H110.171L112.738 59.822L114.294 67.4258H114.488L115.966 59.9384L118.533 48.3774H124.678L117.211 75.9607Z"
                            fill="#011042" />
                        <path d="M127.361 75.9607V48.3774H133.117V75.9607H127.361Z" fill="#011042" />
                        <path
                            d="M154.818 69.3268C154.429 71.4605 153.457 73.1287 151.862 74.3702C150.306 75.5728 148.401 76.1935 146.145 76.1935C144.551 76.1935 143.19 75.9608 142.062 75.4564C140.934 74.9521 140.039 74.2926 139.3 73.4003C138.6 72.5468 138.095 71.5381 137.745 70.4131C137.395 69.288 137.239 68.0854 137.239 66.8439V57.0288C137.239 55.9813 137.395 54.9726 137.706 53.9252C138.017 52.8777 138.523 51.9466 139.223 51.0931C139.923 50.2396 140.856 49.5413 141.984 48.9982C143.112 48.455 144.473 48.1835 146.106 48.1835C147.39 48.1835 148.518 48.3774 149.529 48.7654C150.54 49.1533 151.395 49.6577 152.095 50.2784C152.795 50.8991 153.379 51.6362 153.846 52.4897C154.312 53.3044 154.623 54.1967 154.818 55.089L149.373 56.7184C149.334 56.4468 149.218 56.1365 149.101 55.7873C148.984 55.4382 148.79 55.089 148.518 54.8174C148.245 54.5459 147.934 54.2743 147.506 54.0803C147.117 53.8864 146.651 53.77 146.067 53.77C145.484 53.77 144.978 53.8864 144.59 54.0803C144.201 54.2743 143.89 54.5459 143.617 54.8174C143.384 55.1278 143.19 55.4382 143.112 55.8261C142.995 56.1753 142.956 56.5244 142.956 56.8348V67.0767C142.956 68.1242 143.19 69.0164 143.656 69.6759C144.123 70.3743 144.94 70.7234 146.067 70.7234C146.845 70.7234 147.545 70.4519 148.167 69.9475C148.79 69.4432 149.14 68.7061 149.256 67.8138L154.818 69.3268Z"
                            fill="#011042" />
                        <path d="M167.807 53.6148V75.9607H162.09V53.6148H156.179V48.3774H173.757V53.6148H167.807Z"
                            fill="#011042" />
                        <path
                            d="M193.592 67.2707C193.592 68.6285 193.358 69.8699 192.931 70.995C192.503 72.0813 191.881 73.0123 191.103 73.827C190.325 74.6029 189.392 75.1849 188.303 75.6116C187.214 76.0384 186.047 76.2323 184.764 76.2323C183.169 76.2323 181.808 75.9996 180.68 75.4952C179.552 74.9909 178.619 74.3314 177.919 73.4391C177.219 72.5856 176.674 71.5769 176.363 70.4519C176.013 69.3268 175.858 68.1242 175.858 66.8827V57.0676C175.858 56.0201 176.013 55.0114 176.324 53.964C176.635 52.9165 177.141 51.9854 177.88 51.1319C178.58 50.2784 179.513 49.5801 180.641 49.037C181.769 48.4939 183.13 48.2223 184.764 48.2223C186.28 48.2223 187.603 48.4939 188.691 48.9982C189.819 49.5025 190.714 50.2008 191.453 51.0155C192.153 51.8302 192.697 52.8001 193.047 53.8476C193.397 54.895 193.592 55.9813 193.592 57.0676V67.2707ZM187.797 56.7572C187.797 56.4856 187.758 56.1753 187.641 55.8261C187.564 55.477 187.369 55.1666 187.136 54.8175C186.903 54.4683 186.591 54.2355 186.202 54.0028C185.814 53.77 185.347 53.6536 184.764 53.6536C184.18 53.6536 183.675 53.77 183.286 53.964C182.897 54.1579 182.547 54.4295 182.313 54.7011C182.08 55.0114 181.886 55.3218 181.769 55.7097C181.652 56.0589 181.575 56.408 181.575 56.7184V66.9603C181.575 68.0078 181.808 68.9001 182.313 69.5596C182.819 70.2579 183.636 70.6071 184.764 70.6071C185.58 70.6071 186.28 70.3355 186.903 69.8312C187.486 69.288 187.797 68.5897 187.797 67.6586V56.7572Z"
                            fill="#011042" />
                        <path
                            d="M209.731 75.9607L206.037 65.0593H203.587V75.9607H197.831V48.3774H207.009C208.176 48.3774 209.303 48.5326 210.354 48.843C211.404 49.1533 212.337 49.6577 213.115 50.3172C213.893 50.9767 214.515 51.8302 214.982 52.8389C215.448 53.8475 215.643 55.089 215.643 56.5244C215.643 58.309 215.293 59.822 214.593 61.1022C213.893 62.3825 212.881 63.3523 211.559 64.0894L216.032 76.0383H209.731V75.9607ZM210.004 56.5244C210.004 55.4769 209.692 54.701 209.109 54.2743C208.526 53.8088 207.748 53.6148 206.814 53.6148H203.587V59.822H206.698C207.631 59.822 208.409 59.5892 209.07 59.0849C209.692 58.5805 210.004 57.7658 210.004 56.5244Z"
                            fill="#011042" />
                        <path
                            d="M230.188 64.9042V75.9608H224.549V64.9042L217.393 48.2999H223.81L225.638 53.9252L227.271 59.2013H227.504L229.215 53.8864L231.238 48.3774H237.344L230.188 64.9042Z"
                            fill="#011042" />
                    </svg>
                </a>
                <!-- /.logo-lang__logo-link -->
            </div>
            <!-- /.logo-lang__logo -->
            <ul class="logo-lang__langs">
                <li class="logo-lang__lang-item">
                    <a href="index.html" class="logo-lang__link">
                        <span>En</span>
                    </a>
                    <!-- /.logo-lang__link -->
                </li>
                <!-- /.logo-lang__lang-item -->
                <li class="logo-lang__lang-item">
                    <a href="index-ru.html" class="logo-lang__link">
                        <span>Ru</span>
                    </a>
                    <!-- /.logo-lang__link -->
                </li>
                <!-- /.logo-lang__lang-item -->
                <li class="logo-lang__lang-item">
                    <a href="index-uk.html" class="logo-lang__link active">
                        <span>Uk</span>
                    </a>
                    <!-- /.logo-lang__link -->
                </li>
                <!-- /.logo-lang__lang-item -->
            </ul>
            <!-- /.logo-lang__langs -->
        </div>
        <!-- /.logo-lang -->
        <div class="nav-about">
            <h1 class="nav-about__title">Технічний дью-ділідженс<br> промислових об'єктів</h1>
            <p class="nav-about__text">
                Фізичне обстеження нерухомого та рухомого майна з метою оцінки<br> технічного стану об'єкта і потенційного ризику для інвестора / власника.
            </p>
        </div>
    </div>
    <!-- /.container -->
</nav>
<!-- /.navigation -->