<section class="service">
    <h2 class="service__title">Наші послуги</h2>
    <!-- /.service__title -->
    <ul class="service__wrap">
        <li>
            <ul>
                <li class="service__item">
                    <p>
                        Характеристика майданчика / земельної ділянки /<br>розміщення об'єкта з виділенням логістичних
                        особливостей розташування
                    </p>
                </li>
                <!-- /.service__item -->
                <li class="service__item">
                    <p>
                        Загальна оцінка сировинних і енергетичних ресурсів виробництва
                    </p>
                </li>
                <!-- /.service__item -->
                <li class="service__item">
                    <p>
                        Обстеження технічного стану інженерної інфраструктури
                    </p>
                </li>
                <!-- /.service__item -->
                <li class="service__item">
                    <p>
                        Інспекція / обстеження будівель і споруд з визначенням фізичного зносу
                    </p>
                </li>
                <!-- /.service__item -->
                <li class="service__item">
                    <p>
                        Інспекція / обстеження технологічного обладнання та машин з визначенням укомплектованості та
                        фізичного зносу
                    </p>
                </li>
                <!-- /.service__item -->
                <li class="service__item">
                    <p>
                        Аналіз технологічного процесу, структури виробництва, рівня механізації та автоматизації
                    </p>
                </li>
                <!-- /.service__item -->
                <li class="service__item">
                    <p>
                        Характеристика продукції, що випускається / послуг, оцінка процесу організації контролю якості
                    </p>
                </li>
            </ul>
        </li>
        <!-- /.service__item -->
        <li>
            <ul>
                <li class="service__item">
                    <p>
                        Загальний аналіз технічної / проектної / технологічної / експлуатаційної / дозвільної
                        документації
                    </p>
                </li>
                <!-- /.service__item -->
                <li class="service__item">
                    <p>
                        Ініціювання, проведення спеціальної технічної експертизи ділянок з підвищеними вимогами до
                        безпеки, окремого екологічного висновку
                    </p>
                </li>
                <!-- /.service__item -->
                <li class="service__item">
                    <p>
                        Інженерно-технічні консультації
                    </p>
                </li>
                <!-- /.service__item -->
                <li class="service__item">
                    <p>
                        Організація експертної оцінки вартості майна партнерською сертифікованою організацією
                    </p>
                </li>
                <!-- /.service__item -->
                <li class="service__item last">
                    <p>
                        Фізичне обстеження промислового об'єкта проводиться в основному органолептичними оглядом без
                        застосування спеціальних технічних засобів контролю.
                    </p>
                    <p>
                        За результатами технічного аудиту готується письмовий звіт-висновок і рекомендації.
                    </p>
                </li>
                <!-- /.service__item -->
            </ul>
        </li>
    </ul>
    <!-- /.service__wrap -->
</section>
<!-- /.service -->