<section class="contacts">
    <h3 class="contacts__title">Сайт в разработке</h3>
    <!-- /.contacts__title -->
    <div class="nav-dow">
        <a href="" download class="nav-dow__btn">
            <i>
                <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0.0606367 5.01042L0.0606369 7.13174L9.25302 7.13174L6.07104 10.3137L7.48526 11.7279L13.1421 6.07108L7.48526 0.414229L6.07104 1.82844L9.25302 5.01042L0.0606367 5.01042Z"
                        fill="#011042" />
                </svg>
            </i>
            <span>Скачать брошюру</span>
        </a>
    </div>
    <ul class="contacts__list">
        <li class="contacts__list-item contacts__list-item_title">
            Контакты
        </li>
        <!-- /.contacts__list-item contacts__list-item_title -->
        <li class="contacts__list-item">
            <i>
                <svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M5 1C3.93913 1 2.92172 1.42143 2.17157 2.17157C1.42143 2.92172 1 3.93913 1 5C1 6.54903 2.00787 8.05212 3.11298 9.21863C3.65531 9.79109 4.19933 10.2597 4.60834 10.5854C4.76056 10.7066 4.89351 10.8076 5 10.8863C5.10649 10.8076 5.23944 10.7066 5.39166 10.5854C5.80067 10.2597 6.34469 9.79109 6.88702 9.21863C7.99213 8.05212 9 6.54903 9 5C9 3.93913 8.57857 2.92172 7.82843 2.17157C7.07828 1.42143 6.06087 1 5 1ZM5 11.5C4.72265 11.916 4.72238 11.9158 4.72238 11.9158L4.72095 11.9149L4.71762 11.9127L4.70616 11.9049C4.69642 11.8983 4.68254 11.8888 4.66478 11.8765C4.62926 11.8519 4.57823 11.8161 4.5139 11.7696C4.38527 11.6767 4.20318 11.5411 3.98541 11.3677C3.55067 11.0215 2.96969 10.5214 2.38702 9.90637C1.24213 8.69788 0 6.95097 0 5C2.98023e-08 3.67392 0.526784 2.40215 1.46447 1.46447C2.40215 0.526784 3.67392 0 5 0C6.32608 0 7.59785 0.526784 8.53553 1.46447C9.47322 2.40215 10 3.67392 10 5C10 6.95097 8.75787 8.69788 7.61298 9.90637C7.03031 10.5214 6.44933 11.0215 6.01459 11.3677C5.79682 11.5411 5.61473 11.6767 5.4861 11.7696C5.42177 11.8161 5.37074 11.8519 5.33522 11.8765C5.31746 11.8888 5.30358 11.8983 5.29384 11.9049L5.28238 11.9127L5.27905 11.9149L5.27799 11.9156C5.27799 11.9156 5.27735 11.916 5 11.5ZM5 11.5L5.27735 11.916C5.1094 12.028 4.89033 12.0278 4.72238 11.9158L5 11.5Z"
                        fill="white" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M5 4C4.44772 4 4 4.44772 4 5C4 5.55228 4.44772 6 5 6C5.55228 6 6 5.55228 6 5C6 4.44772 5.55228 4 5 4ZM3 5C3 3.89543 3.89543 3 5 3C6.10457 3 7 3.89543 7 5C7 6.10457 6.10457 7 5 7C3.89543 7 3 6.10457 3 5Z"
                        fill="white" />
                </svg>
            </i>
            <span>
                Киев,<br>
                ул. Институтская, 19Б, офис 29
                Украина, 01021
            </span>
        </li>
        <!-- /.contacts__list-item -->
        <li class="contacts__list-item">
            <i>
                <svg width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M1.36366 0.909084C1.11471 0.909084 0.909123 1.11467 0.909123 1.36363V6.81813C0.909123 7.06709 1.11471 7.27267 1.36366 7.27267H8.63634C8.8853 7.27267 9.09088 7.06709 9.09088 6.81813V1.36363C9.09088 1.11467 8.8853 0.909084 8.63634 0.909084H1.36366ZM3.90419e-05 1.36363C3.90419e-05 0.612593 0.612632 0 1.36366 0H8.63634C9.38737 0 9.99996 0.612593 9.99996 1.36363V6.81813C9.99996 7.56916 9.38737 8.18175 8.63634 8.18175H1.36366C0.612632 8.18175 3.90419e-05 7.56916 3.90419e-05 6.81813V1.36363Z"
                        fill="white" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M0.0822057 1.10296C0.226166 0.897306 0.509586 0.84729 0.715244 0.99125L5 3.99058L9.28476 0.99125C9.49041 0.84729 9.77384 0.897306 9.91779 1.10296C10.0618 1.30862 10.0117 1.59204 9.80608 1.736L5.26066 4.91779C5.10416 5.02735 4.89585 5.02735 4.73934 4.91779L0.193918 1.736C-0.0117389 1.59204 -0.0617543 1.30862 0.0822057 1.10296Z"
                        fill="white" />
                </svg>
            </i>
            <a href="mailto:vadym.gvozdiy@marshalvictory.com">
                <span>
                    vadym.gvozdiy@marshalvictory.com
                </span>
            </a>
        </li>
        <!-- /.contacts__list-item -->
        <li class="contacts__list-item">
            <i>
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M10.9997 8.50178V10.0102C11.0003 10.1502 10.9716 10.2888 10.9155 10.4171C10.8594 10.5454 10.7771 10.6606 10.6739 10.7553C10.5707 10.8499 10.4489 10.922 10.3163 10.9669C10.1836 11.0117 10.0431 11.0284 9.90359 11.0158C8.3564 10.8477 6.87022 10.319 5.56445 9.47218C4.34961 8.70022 3.31963 7.67024 2.54767 6.4554C1.69793 5.1437 1.16912 3.65029 1.00408 2.09615C0.991516 1.95711 1.00804 1.81697 1.0526 1.68467C1.09716 1.55237 1.16878 1.43079 1.2629 1.32768C1.35703 1.22457 1.47158 1.14219 1.59929 1.08579C1.72699 1.02938 1.86504 1.00018 2.00465 1.00005H3.51304C3.75705 0.997647 3.99361 1.08406 4.17862 1.24317C4.36364 1.40228 4.48448 1.62324 4.51863 1.86486C4.5823 2.34758 4.70037 2.82155 4.87059 3.27772C4.93824 3.45768 4.95288 3.65327 4.91278 3.8413C4.87268 4.02932 4.77952 4.20192 4.64433 4.33862L4.00578 4.97717C4.72154 6.23595 5.76379 7.2782 7.02256 7.99396L7.66112 7.35541C7.79782 7.22022 7.97041 7.12706 8.15844 7.08696C8.34647 7.04686 8.54206 7.0615 8.72202 7.12915C9.17819 7.29937 9.65216 7.41744 10.1349 7.48111C10.3791 7.51556 10.6022 7.63858 10.7616 7.82678C10.9211 8.01497 11.0058 8.2552 10.9997 8.50178Z"
                        stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </i>
            <a href="tel:+380503763576">
                <span>
                    +38 (050) 376 35 76
                </span>
            </a>
        </li>
        <!-- /.contacts__list-item -->
    </ul>
    <!-- /.contact__list -->
</section>
<!-- /.contacts -->