<section class="service">
    <h2 class="service__title">Наши услуги</h2>
    <!-- /.service__title -->
    <ul class="service__wrap">
        <li>
            <ul>
                <li class="service__item">
                    <p>
                        Характеристика площадки/земельного<br> участка/размещения объекта с выделением логистических
                        особенностей расположения
                    </p>
                </li>
                <!-- /.service__item -->
                <li class="service__item">
                    <p>
                        Общая оценка сырьевых и энергетических ресурсов производства
                    </p>
                </li>
                <!-- /.service__item -->
                <li class="service__item">
                    <p>
                        Обследование технического состояния инженерной инфраструктуры
                    </p>
                </li>
                <!-- /.service__item -->
                <li class="service__item">
                    <p>
                        Инспекция /обследование зданий и сооружений с определением физического износа
                    </p>
                </li>
                <!-- /.service__item -->
                <li class="service__item">
                    <p>
                        Инспекция /обследование технологического оборудования и машинс определением укомплектованности и
                        физического износа
                    </p>
                </li>
                <!-- /.service__item -->
                <li class="service__item">
                    <p>
                        Анализ технологического процесса, структуры производства, уровня механизации и автоматизации
                    </p>
                </li>
                <!-- /.service__item -->
                <li class="service__item">
                    <p>
                        Характеристика выпускаемой продукции/услуг, оценка процесса организации контроля качества
                    </p>
                </li>
            </ul>
        </li>
        <!-- /.service__item -->
        <li>
            <ul>
                <li class="service__item">
                    <p>
                        Общий анализ технической / проектной /технологической / эксплуатационной
                        /разрешительнойдокументации
                    </p>
                </li>
                <!-- /.service__item -->
                <li class="service__item">
                    <p>
                        Инициирование, проведение специальной технической экспертизы участков с повышенными требованиями
                        к безопасности, отдельного экологического заключения
                    </p>
                </li>
                <!-- /.service__item -->
                <li class="service__item">
                    <p>
                        Инженерно-технические консультации
                    </p>
                </li>
                <!-- /.service__item -->
                <li class="service__item">
                    <p>
                        Организация экспертной оценки стоимости имущества партнерской сертифицированной организацией
                    </p>
                </li>
                <!-- /.service__item -->
                <li class="service__item last">
                    <p>
                        Физическое обследование промышленного объекта проводится в основном органолептическим осмотром
                        без применения специальных технических средств контроля.
                    </p>
                    <p>
                        По результатам технического аудита готовится письменный отчетзаключение и рекомендации.
                    </p>
                </li>
                <!-- /.service__item -->
            </ul>
        </li>
    </ul>
    <!-- /.service__wrap -->
</section>
<!-- /.service -->